HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### AWS ###
**/docker-compose-live.yml

### Application ###
**/application-staging.yml
**/application-live.yml
**/application-prod.yml
.env

### Logging ###
**/logback-staging.xml
**/logback-live.xml

### Monitoring ###
**/prometheus-staging.yml
**/prometheus-live.yml
**/promtail-config-staging.yml
**/promtail-config-live.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
